# ======================================
# Copyright (c) 2026 Music420bot
# All Rights Reserved.
# Powered By   : @yoi_420
# Type         : Telegram Music Bot
# Channel      : https://t.me/BOT420_UPDATE
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# =======================================
# optional 
MONGO_DB_URI=
API_ID=
API_HASH= 
MUSIC420BOT_API_URL=
MUSIC420BOT_KEY=
BOT_TOKEN=
LOGGER_ID=
OWNER_ID=
STRING_SESSION=
